{
  "plugins": [
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-async-to-module-method",
    ["import", { "libraryName": "antd-mobile", "style": "css" }]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "react",
    "stage-1"
  ]
}
